<ion-content padding text-center>
  <ion-grid>
    <ion-row>
      <ion-col >Peerclub</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button color="google" icon-left block>
          <ion-icon name="logo-google"></ion-icon>
          Google
        </button>
        <button (click)="signInWithFacebook()" ion-button color="facebook" icon-left block>
          <ion-icon name="logo-facebook"></ion-icon>
          Facebook
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
