<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Add" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Search" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Profile" tabIcon="settings"></ion-tab>
</ion-tabs>
