<ion-header>
  <ion-navbar>
    <ion-title>Bienvenido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-center>
      <img [src]="user.image">
    </ion-item>
    <ion-item>{{ user.name }}</ion-item>
    <ion-item>{{ user.email }}</ion-item>
    <ion-item>{{ user.uid }}</ion-item>
    <ion-item>{{ user.provider }}</ion-item>
  </ion-list>
  <button ion-button (click)="goSettingsPage()">Ir a settings</button>
</ion-content>